<%- include("partials/header"); -%>
<div style="display: inline-block;">
    <img src="/images/key.png" alt="Key" style="width: 20%;" />
    <h4><%= msg %>. Please contact the SAT Support Team.</h4>
</div>